.navBg {
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.8s;
}
.navBg:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

body {
  background-color: #000;
}

.subtitle {
  font-size: 0.7em;
}